-r requirements.txt

bandit>=1.9.4,<2
cyclonedx-bom>=7.3.1,<8
pefile>=2024.8.26; sys_platform == "win32"
pip-audit>=2.10.1,<3
pyinstaller>=6.22.2,<7
pywin32-ctypes>=0.2.3,<1; sys_platform == "win32"
ruff>=0.16.5,<1
